/* All */

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(45, 45, 54);
    --bg-color-light: #ffffff;
    --text-color: #fff;
}

body {
    background-color: var(--bg-color-light);
    color: #000;
}

.output {
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.output.success {
    color: green;
    font-weight: bold;
}

.output.error {
    color: red;
    font-weight: bold;
}

/* Footer */

.home-footer {
    border-top: 10px solid rgb(145, 52, 52);
    background-color: rgb(135, 28, 28);
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-container {
    color: white;
    text-align: center;
}

.copyright-container a {
    text-decoration: none;
    color: white;
}

/* Icon / Header */

#icon {
    width: 50px;
    height: auto;
}

#icon-large {
    width: 100px;
}

.icon-container {
    padding-top: 25px;
    margin: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-iconcontain h3 {
    font-size: 1.5em;
    color: rgb(246, 246, 246);
}

.home-header1 {
    background-image: url(resources/images/background/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 11vh;
    width: 100%;
}

/* Navigation Bar */

.home-header2 {
    background-color: rgb(135, 28, 28);
    display: flex;
    min-height: 30px;
    padding-left: 10%;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    float: left;
}

.navbar li a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    display: block;
    background-color: rgb(135, 28, 28);
}

.navbar li a:hover {
    background-color: rgb(110, 26, 26);
}

.navbar li a.active:not(#exit) {
    background-color: rgb(110, 26, 26);
    font-weight: bold;
    border-bottom: 3px solid #fff;
}

/* Hamburger Menu */

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Sections */

.section {
    display: none;
    min-height: 50vh;
}

.home-section-section1 {
    background-color: var(--bg-color-light);
}

.section-container {
    padding: 100px 250px;
}

.createaccount {
    border: #a8a8a89c solid 2.5px;
    border-radius: 25px;
    height: 350px;
    width: 250px;
    margin: 0 auto;
}

.section-container a {
    text-decoration: none;
    color: rgb(135, 28, 28);
    margin-right: 100px;
    float: left;
}

.createaccount-content {
    padding: 80px 0;
    text-align: center;
}

.createaccount-content img {
    width: 100px;
    height: 100px;
}

.introduction {
    margin-top: 50px;
    text-align: center;
}

.introduction h1 {
    font-size: 5em;
}

.introduction p {
    font-size: 1.1em;
}

/* Forms / Account Info */

.ca-section-section1 {
    padding: 50px 150px;
}

.account-stable,
.display-stable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.account-container {
    padding: 50px 20px;
    width: 20vw;
    border: #a8a8a89c solid 2px;
    box-shadow: 0 2px 5px #505050;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}

.account-content {
    display: flex;
    justify-content: center;
}

.account-content h2 {
    color: #5c5c5c;
}

.account-info {
    padding-top: 20px;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-info form input {
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
    padding: 5px;
}

.account-info form button {
    margin: 5px;
    padding: 7px 15px;
    border: none;
    background-color: rgb(135, 28, 28);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.account-info form button:hover {
    background-color: rgb(110, 26, 26);
}

/* Table Output */

#searchResult,
#displayOutput {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;
}

#searchResult table,
#displayOutput table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

#searchResult th,
#searchResult td,
#displayOutput th,
#displayOutput td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

#searchResult th,
#displayOutput th {
    background-color: rgb(135, 28, 28);
    color: white;
}

@media (max-width: 1182px) {

    /* Hamburger Menu */
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }

    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s;
    }

    .home-header2 {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    .navbar {
        width: 100%;
        position: relative;
    }

    .navbar-container {
    width: 100%;
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute; 
        top: 100%; 
        left: 0;
        width: 100%; 
        background-color: rgb(135, 28, 28);
        margin: 0;
        padding: 0;
        z-index: 1000;
    }

    .navbar ul.show {
        display: flex;
    }

    .navbar li {
        width: 100%;
    }

    .navbar li a {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        display: block;
    }

    .section-container {
        padding: 40px 20px;
        text-align: center;
    }

    .account-container {
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .introduction h1 {
        font-size: 3em;
    }

    .introduction p {
        font-size: 1em;
    }

    #icon-large {
        width: 80px;
    }

    .account-info form input {
        width: 90%;
    }

    .account-info form button {
        width: 45%;
        margin: 5px 2.5%;
    }

    #searchResult th,
    #searchResult td,
    #displayOutput th,
    #displayOutput td {
        font-size: 12px;
        padding: 6px;
    }

    .createaccount {
        display: none;
    }

    .section {
    min-height: 50vh;
    }

    .section-container {
        padding: 200px 0;
    }

    .section-container h1 {
        font-size: 4em;
    }

    #icon {
        display: none;
    }

    .icon-container {
        padding-top: 25px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon-iconcontain h3 {
        font-size: 1.5em;
        color: rgb(246, 246, 246);
    }

    .ca-section-section1 {
        padding: 50px 50px;
    }

}

