* {
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.copyright-container {
    color: white;
    padding: 55px 0;
    text-align: center;
}

.copyright-container a {
    text-decoration: none;
    color: white;
}

.copyright-container a:hover {
    color: rgb(56, 56, 56);
}

.reset-button {
    position: fixed; 
    bottom: 20px;  
    right: 30px;    
    z-index: 99;   
    /* Optional styling to make it look like a button */
    background-color: #5e1111;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* Root */

:root {
    --bg-color: rgb(45, 45, 54);
    --bg-color-light: #ffffff;
    --text-color: #fff;
}

/* Icon */

#icon {
    width: 100px;
    height: auto;
    border: black solid 2px;
    margin: 0;
}

.icon-container {
    padding-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
    display: block;
    align-content: center;
}

.icon-iconcontain {
    font-size: 1.5em;
    color: rgb(246, 246, 246);
    display: inline;
    float: left;
}

.icon-iconcontain-icon {
    float: right;
}

.home-header1 {
    background-image: url(resources/images/background/header-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 11vh;
    width: 100%;
}

/* Navigation Bar */

.home-header2 {
    background-color: rgb(135, 28, 28);
    display: flex;
    min-height: 30px;
    padding-left: 10%;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar li a {
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgb(135, 28, 28);
    height: 2vh;
    text-decoration: none;
    padding: 15px;
    display: flex;
    text-align: center;
}

.navbar li a:hover {
    background-color: rgb(110, 26, 26);
}

.navbar li {
    float: left;
}

/* Section 1 */

.home-section-section1 {
    background-color: var(--bg-color-light);
    height: 70vh;
}

.home-footer {
    border-top: 10px solid rgb(145, 52, 52);
    background-color: rgb(135, 28, 28);
    height: 20vh;
}

.section-container {
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
}

.createaccount {
    border: #a8a8a89c solid 2.5px;
    border-radius: 25px;
    text-decoration: none;
    height: 350px;
    width: 250px;
}

.section-container a {
    text-decoration: none;
    color: rgb(135, 28, 28);
    margin-right: 100px;
    float: left;
}

.createaccount-content img, .createaccount-content h2 {
    width: 100px;
    height: 100px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 20px;
    text-align: center;
}

.createaccount-content {
    padding: 80px 0px;
}

.introduction {
    margin-top: 50px;
}

.introduction h1 {
    font-size: 5em;
    
}

.introduction p {
    font-size: 1.1em;
}

/* Create Account */

.ca-section-section1 {
    padding: 50px 150px;
}

.account-stable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 100px;
}

.account-container {
    padding: 50px 20px;
    width: 20vw;
    height: auto;
    border: #a8a8a89c solid 2px;
    box-shadow: 0 2px 5px #505050;
    border-radius: 5px;
}

.account-content {
    display: flex;
    justify-content: center;
}

.account-content h2 {
    color: #5c5c5c;
    float: none;
}

#account-form input {
    width: 200px;
    height: 20px;
}

.account-info {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}
